<%-include('./partials/head.ejs') %>
  <%-include('./partials/header.ejs') %>

    <div class="container-fluid d-flex justify-content-center contenedorPrincipal">
      <div class="container w-75 contenedorSecundario diseniadores contacto">
        <h1>nuestros contactos</h1>
        <div class="d-flex boxInfoLocal">
          <img src="/img/localizacion.jpg" alt="" class="imgUbicacion">
          <div class="infoLocal">
            <h3 class="tituloContacto">email</h3>
            <a href="mailto:mommolights@gmail.com" class="contactoLocal">mommolights@gmail.com</a>
            <a href="mailto:mommo@icloud.com" class="contactoLocal">mommo@icloud.com</a>
            <h3 class="tituloContacto">dirección</h3>
            <p class="contactoLocal">R St California,CA94102</p>
            <h3 class="tituloContacto">telefonos</h3>
            <p class="contactoLocal">+1 747 310-730-2432</p>
          </div>
        </div>
        <div class="d-flex contenedorFormImg">
          <div class="formConsultas">
            <h3>Su consulta</h3>
            <p>Si deseas hacer un pedido de diseño personalizado o especificar los términos de entrega, escríbenos.
              Siempre estamos disponibles y dispuestos a ayudar</p>
            <form action="" class="formContacto">
              <input type="text" class="nombreForm" id="inputNombre" placeholder="Por favor presentese">
              <input type="email" class="formEmail" id="inputMail" placeholder="Ingrese su email">
              <div class="d-flex boxConsultaBtn">
                <input type="text" class="consultaForm" name="" id="inputMensaje"
                  placeholder="Describa la esencia de la pregunta o sugerencia">
                <button type="submit" class="btnForm">
                  <i class="bi bi-arrow-right"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="creadoresSignUp">
            <div class="boxLamps">
                <img src="/img/designers/allTheWayToParis.jpg" alt="allTheWayToParis" />
                <div class="contenedorTextos">
                    <p class="creador">All the way to Paris</p>
                </div>
            </div>
        </div>
         
        </div>

      </div>
    </div>




    <script src="/js/main.js"></script>
    <%-include('./partials/footer.ejs') %>

   